{% extends "itreporting/base.html" %}
{%block text%}
<div class="col-md-10" style="width: 50%; float:left;">
    <h1 style="color: white;">{{ 'Home page' }}</h1>
    <h3 style="color: white;">Welcome to the Product Review Website!</h3>
</div>
{% endblock %}
{% block category %}
<div class="col-md-10 " style="width: 50%; float:right;">
                <div class="content-section" style="background-color: #333">
                    <h3 style="color: white;">Browse by Category</h3>
                    <p style="color: white;">Choose from the list of categorised products below in order to see their reviews.</p>
                    <ul class="list-group">
                        <li class="list-group-item list-group-item-light"><a href="{% url 'itreporting-tablet' %}">Tablet</a></li>
                        <li class="list-group-item list-group-item-light"><a href="{% url 'itreporting-smartphone' %}">Smart Phone</a></li>
                        <li class="list-group-item list-group-item-light"><a href="{% url 'itreporting-smartTv' %}">Smart TV</a></li>
                    </ul>
                </div>
</div>
{% endblock %}

