
{% extends "itreporting/base.html" %}
{% block content %}<h1>It Issue Reported</h1>

    {% for object in issues %}

    <article class="media content-section">
        <img class="rounded-circle article-img" src="{{object.author.profile.image.url}}"/>
        <div class="media-body">
          <div class="article-metadata">
            <small class="text-muted">Posted by {{object.author_name}}  Review rating: {{issue.productrating}}</small>
          </div>
          <h2 class="article-title">{{ object.date_reviewed }} </h2>
          <p class="article-content">{{object.details}}</p>

        </div>

      </article>
{% endfor %}
{% endblock %}