
{% extends "itreporting/base.html" %}
{% block content %}
  <h1>Reviews for {{ electronic.prod_name }}</h1>

  {% for issue in issues %}
    <article class="media content-section">
      <img class="rounded-circle article-img" src="{{issue.author.profile.image.url}}"/>
      <div class="media-body">
        <div class="article-metadata">
          <h3><a class="article-title" href="{% url 'issue-detail' issue.id %}">Posted by {{issue.author_name}} Review rating: {{issue.productrating}}</a></h3>
          <p class="article-content">{{ issue.details }}</p>
        </div>
      </div>
    </article>
  {% empty %}
    <p>No reviews found for this electronic.</p>
  {% endfor %}
  
  
{% endblock %}