{% extends "itreporting/base.html" %}
{% block content %}
  <h1>List of Smart Phones {{ electronic.prod_name }}</h1>

  {% for electronic in smartphones %}
    {% if electronic.category == 'smartphone' %}
      <article class="media content-section">
        <img class="rounded-circle article-img" src="{{electronic.image.url}}"/>
        <div class="media-body">
          <div class="article-metadata">
            <h3><a class="article-title" href="{% url 'electronic-detail' electronic.id %}">Product Name:{{electronic.prod_name}} Brand: {{electronic.brand}}</a></h3>
          </div>
        </div>
      </article>
    {% endif %}
  {% empty %}
    <p>No reviews found for this electronic.</p>
  {% endfor %}
  
{% endblock %}
