{% extends "itreporting/base.html" %}
{% block content %}
  <h1>List of Smart Phones {{ product.prod_name }}</h1>

  {% for product in smartphones %}
    {% if product.category == 'smartphone' %}
      <article class="media content-section">
        <img class="rounded-circle article-img" src="{{product.image.url}}"/>
        <div class="media-body">
          <div class="article-metadata">
            <h3><a class="article-title" href="{% url 'product-detail' product.id %}">Product Name:{{product.prod_name}} Brand: {{product.brand}}</a></h3>
          </div>
        </div>
      </article>
    {% endif %}
  
  {% empty %}
    <p>No reviews found for this product.</p>
  
{% endfor %}
  
{% endblock %}
